.git
.gitignore
.gitattributes
.vscode
node_modules
vendor
.env
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
tests
phpunit.xml
README.md
storage/app/public/*
public/storage
.phpunit.result.cache
.phpunit.cache
docker-compose.yml
docker-compose.override.yml
.env.*
